* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.content {
  padding: 1rem;
  background-color: beige;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 340px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 600px) {
  .content {
    max-width: 600px;
    height: auto;
    margin: 10px auto;
    border-radius: 10px;
    background-color: beige;
  }
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #14a06f;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemons img {
  max-width: 100%;
  height: 70px;
}

.types {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon .number {
  align-self: flex-end;
  color: #fff;
  opacity: 50%;
  font-size: 0.625rem;
}
.pokemon .name {
  font-weight: 700;
  color: #fff;
  margin: 0.5rem 0;
  text-transform: uppercase;
}

.type {
  display: flex;
  margin: 0.25rem 0;
  padding: 0.25rem 0.5rem;
  background-color: rgb(130, 216, 190);
  border-radius: 10px;
  opacity: 80%;
  font-size: 0.8rem;
  color: #fff;
}
