* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.content {
  background-color: beige;
}
.content h1{
  text-align: center;
  margin: 0;
  padding: 20px;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 340px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 600px) {
  .content {
    max-width: 600px;
    height: auto;
    margin: 10px auto;
    border-radius: 10px;
    background-color: beige;
  }
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #78c850;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.pagination button{
  background-color: #6c79db;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: .10rem .25rem;
}

.grass{
  background: linear-gradient(45deg, #a1d189 0%,#78c850 100%);
}

.fire{
  
  background: linear-gradient(45deg, #f0af81 0%,#f08030 100%);
}

.water{
  background: linear-gradient(45deg, #a7cfdf 0%,#23538a 100%);
}

.bug{
  background: linear-gradient(45deg, #a8b820 0%,#8e9459 100%);
}

.flying{
  background-color: #c03028;
}

.normal{
  background: linear-gradient(45deg, #a1a138 0%,#8e9459 100%);
  
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemons img {
  height: 70px;
}

.types {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon .number {
  align-self: flex-end;
  color: #fff;
  opacity: 50%;
  font-size: 0.625rem;
}
.pokemon .name {
  font-weight: 700;
  color: #fff;
  margin: 0.5rem 0;
  text-transform: uppercase;
}

.type {
  display: flex;
  margin: 0.25rem 0;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  opacity: 80%;
  font-size: 0.8rem;
  color: #fff;
  filter: brightness(1.1);
  text-align: center;
}
